@import '../../styles/base';
.footer {
  padding: 30px 0;
  background-color: #010017;
  p {
    font-weight: $medium;
    color: #cfcfcf;
  }
  .footerLogo {
    display: block;
    width: 145px;
    height: 45px;
  }
  .footerInnerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .startFooterSection,
  .endFooterSection {
    display: flex;
    align-items: center;
    gap: 45px;
  }
  .endFooterSection {
    gap: 30px;
  }
  .socialList {
    display: flex;
    gap: 15px;
    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 37px;
      height: 37px;
      border-radius: 50%;
      border: 1px solid #fdcb06;
      transition: all 0.3s ease-in-out;
      path {
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        border-color: $white-color;
        path {
          fill: $white-color;
        }
      }
    }
  }
}
